.skil-tab{
    
    color: white;
    background-image: url(https://img.freepik.com/free-vector/realistic-black-shimmer-background_23-2150020465.jpg);
}.iconsocial{
    width: 40px;
    text-align: center;

}.nav-ic:hover{
    color: brown;
}.icone-s{
    opacity: 0.6;
}.icone-s:hover{
    opacity: 0.9;
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}